.heading {
    text-align: center;
    font-family: Consolas, Menlo, Monaco, Lucida Console;
}

.col-container {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.col {
    flex: 1;
    text-align: center;
    float: left;
    width: 50%;
    
    font-family: Consolas, Menlo, Monaco, Lucida Console;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}